<!-- CONTACT SECTION  -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>contact me</h2>
                <div class="breaker">
                    <span class="left"></span>
                    <div class="feather"></div>
                    <span class="right"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centered">
                <p class="subtittle" >I love talking about technology.<br/>Think we can exchange ideas &amp; thoughts? I'd love to hear from you!</p>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <div class="alert" id="contact_alert_container">
                    <button type="button" class="close" id="close_contact_msg" data-dismiss="alert">&times;</button>
                    <div id="contact_alert"></div>
                </div>
                <form name="contact_form" id="contact_form" method="post" action="/send_msg"> 
                    <input type="text" name="first_name" placeholder="YOUR NAME" id="contact_name"> 
                    <input type="email" name="email" placeholder="YOUR E-MAIL"  id="contact_email"> 
                    <textarea name="comments" cols="1" rows="5" placeholder="YOUR MESSAGE"  id="contact_message"></textarea>
                    <button name="send" type="submit" class="button start"  id="contact_submit">
                        <i id="contact_loader" class="icon-envelope-alt icon-large" style="margin-left:10px"></i>
                    </button>
                </form>
            </div>
            <div class="span5">
                <div class="info">
                    <p class="contactAddress">10 Knights Place<br>St Leonard's Road<br>Windsor, SL4 3LE<br/>London, United Kingdom
                        <br><a class="fancybox-media fancybox.iframe" href="https://www.google.com/maps/place/Windsor,+Windsor+and+Maidenhead+SL4+3LE/@51.4753672,-0.613414,17z/data=!4m2!3m1!1s0x48767b01dc892087:0x8249121dd78f88f5">View Map</a></p>
                </div>
                <div class="info">
                    <p class="contactPhone">Phone: 0044 (0) 775 413 162</p>
                    <p class="contactEmail">Email: <a href="mailto:info@bytecode.gr">info@bytecode.gr</a></p>
                    <p class="contactSkype">Skype: dbalaouras</p>
                </div>
                <div class="info">
                    <p class="contactTime">
                        Mon-Fri: 9:00am → 19:00pm <br>
                        Sat: 10:00am → 2:00pm <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT SECTION  -->