<!-- FOOTER  -->
<footer>
    <!-- SOCIAL MODULE  --> 
    <section id="social_module">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul>                        
                        <li><a href="http://www.linkedin.com/in/dbalaouras" target=_blank><i class="icon icon-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/dbalaouras" target=_blank><i class="icon icon-twitter"></i></a></li>
                        <li><a href="https://github.com/dbalaouras" target=_blank><i class="icon icon-github"></i></a></li>
                        <li><a href="https://www.facebook.com/dbalaouras" target=_blank><i class="icon icon-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/+DimitrisBalaouras" target=_blank><i class="icon icon-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END SOCIAL MODULE  -->

    <!-- COPYRIGHT  -->
    <div class="container">
        <div class="row">
            <div class="span6 center">
                <img alt="ByteCode" src="static/img/bytecode_logo_small.png">
            </div>
            <div class="span6">
                <p class="copyright text-right center"><a id="inline" href="#about_site">About</a> | &copy; 2013 Bytecode.gr</p>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT  -->

    <!-- Hidden Popup -->
    <div style="display:none">
        <div id="about_site">
            <div class="">
                <h2>About this Webpage</h2>
                <p>
                    This is my personal web page and was built within very few days.Thanks to the wonderful technologies<br/> other people have built, you will be surprised how fast you can create personal websites!<br/>These are the technologies I used:
                </p>
                <p>
                    <ul>
                        <li>Twitter's <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> framework</li>
                        <li>A theme by <a href="http://uexel.us" target="_blank">uexel.us</a></li>
                        <li><a href="http://flask.pocoo.org/" target="_blank">Flask</a> web microframework for python</li>
                        <li><a href="http://jquery.com/" target="_blank">JQuery</a> library for JavaScript</li>
                        
                        <li><a href="http://jinja.pocoo.org/" target="_blank">Jinja</a> template engine</li>
                        <li><a href="http://httpd.apache.org/" target="_blank">Apache HTTP Server</a></li>
                        <li><a href="http://code.google.com/p/modwsgi/" target="_blank">Modwsgi</a> module for Apache</li>
                    </ul>
                </p>
                <p>
                    The rest was some pretty basic python programming, some JavaScript/JQuery and some CSS3.<br/>
                    Hope you like it! But even if you don't, please go ahead and send me your note...I'd appreciate any feedback!
                </p>
                <p>- Dimi</p>
            </div>
        </div>
    </div>

</footer>
<!-- END FOOTER  --> 