<!-- HEADER HOME  -->
<section id="home">
    <div class="row centered">

        <h1 class="fade-it bytecode-logo"><i class="icon-terminal"></i> import gr.bytecode.*</h1>
        <div class="flexslider">
            <ul class="slides">
                <li class="first-child"><h2>Web &amp; Mobile Development</h2></li>
                <li><h2>vision.think</h2></li>
                <li><h2>architect.design</h2></li>
                <li><h2>build.deploy</h2></li>
                <li><h2>love.perfection</h2></li>
            </ul>
            <h2 class="devices">
                <i class="icon-code"></i>
                <i class="icon-cloud"></i>
                <i class="icon-desktop"></i>
                <i class="icon-tablet"></i>
                <i class="icon-mobile-phone"></i>
                <i class="icon-android"></i>
                <i class="icon-html5"></i>
            </h2>
        </div>
    </div>

    <!-- LITTLE LOGO SEE WHAT WE DO --> 
    <div id="down_button" class="fade-it"><a href="#about"></a></div>
    <div class="social-header hidden-phone">
        <a href="http://www.linkedin.com/in/dbalaouras" class="social-network sn2 linkedin" target="_blank"></a>
        <a href="https://github.com/dbalaouras" class="social-network sn2 github" target="_blank"></a>
        <a href="https://www.facebook.com/dbalaouras" class="social-network sn2 facebook" target="_blank"></a>
        <a href="https://twitter.com/dbalaouras" class="social-network sn2 twitter" target="_blank"></a>
        <a href="https://plus.google.com/100211800323347120261/posts" class="social-network sn2 google" target="_blank"></a>   
    </div>
    <!-- END LITTLE LOGO SEE WHAT WE DO --> 

</section>
<!-- END HEADER HOME  -->