<!-- NAVIGATION  -->
<div class="navbar-wrapper">
    <div class="navbar" id="navigation">
        <div class="navbar-inner">
            <button type="button" id="menu_button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="">  <img src="/static/img/bytecode_logo_small.png"></a>
            <div class="nav-collapse collapse" >
                <ul class="nav pull-right">
                    <li><a href="#home" class="selected">Home</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#services">services</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!-- END NAVIGATION  -->