 <!-- SERVICES SECTION  -->
<section id="services">

    <div class="container">
        <div class="row">
            <div class="span12 centered">
                <h2>what I do</h2>
                <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="span12 centered">
                <p class="subtittle" >my areas of expertise</p>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-code icon-3x"></i>
                        </div>
                        <h6><strong>Programming</strong></h6>
                        <p>
                            I love programming languages and I've used several in my projects: Java, PHP, Python, JavaScript, HTML5, C, C#, Pascal, Fortran
                        </p>
                    </div>
                </div>  
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-pencil icon-3x"></i>
                        </div>
                        <h6><strong>Software Design</strong></h6>
                        <p>
                            I like combining experience, knowledge and ideas into unique software designs
                        </p>
                    </div>
                </div>  
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-cloud icon-3x"></i>
                        </div>
                        <h6><strong>Service Oriented Architecture</strong></h6>
                        <p>
                            I like building scalable, service oriented, cloud based web applications
                        </p>
                    </div>
                </div>  
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-android icon-3x"></i>
                        </div>
                        <h6><strong>Android</strong></h6>
                        <p>
                            I love mobile development and I am a big fan of the Android platform
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-html5 icon-3x"></i>
                        </div>
                        <h6><strong>HTML5 Apps</strong></h6>
                        <p>
                            I enjoy building HTML5 powered mobile and web apps; like the one you're browsing now
                        </p>
                    </div>
                </div>  
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-terminal icon-3x"></i>
                        </div>
                        <h6><strong>Web Ops</strong></h6>
                        <p>
                            Modern software development requires experience with wiring several diverse technologies and I try to be good at this
                        </p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-linux icon-3x"></i>
                        </div>
                        <h6><strong>System Administration</strong></h6>
                        <p>
                            A good application needs a good server, proper setup and regular maintenance
                        </p>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="box-container">
                    <div class="box">
                        <div class="box_icon">
                            <i class="icon-coffee icon-3x"></i>
                        </div>
                        <h6><strong>Drink Coffee</strong></h6>
                        <p>
                            Software development requires devotion and endless hours of hard work. Coffee has always been my friend
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>        
<!-- END SERVICES  -->