 <!-- WHO AM I SECTION  -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="span12 centered">
                    <h2>who am I</h2>
                    <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="span12 centered">
                    <p class="subtittle">I am a dreamer developer, with a great passion for programming.<br/>I love building top quality, well structured and robust applications in any platform and technology.<br/>Currently, I am an employee of <a href="http://www.ca.com" target="_blank">CA Technologies</a> working on performance monitoring systems.</p>
                </div>
            </div>
            <div class="row centered">
                <div class="span5" id="me">
                    <div class="team">
                        <img alt="altname" src="{{ url_for('static', filename='img/team/male1.jpg') }}"/>
                        <span class="name">Dimitris Balaouras (Dimi)</span><br/>
                        <span class="position">Senior Software Engineer</span><br/>
                        <span class="social">
                            <a href="http://www.linkedin.com/in/dbalaouras" target="_blank" class="social-network linkedin"></a>
                            <a href="https://www.facebook.com/dbalaouras" target="_blank" class="social-network facebook"></a>
                            <a href="https://twitter.com/dbalaouras" target="_blank" class="social-network twitter"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WHO AM I SECTION  -->